# requirements for basic usage
numpy
Pillow
PyYAML
torch
torchvision

# requirements for training
wandb

# requirements for video inference
opencv-python

# requirements for GUI application
PyQt5

# requirements for web application
Flask

# requirements for TensorRT usage
onnx
onnxruntime
pycuda
tensorrt